Source: ros-melodic-rospack
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libgtest-dev, libtinyxml2-dev, pkg-config, python-coverage, python-dev, ros-melodic-catkin (>= 0.5.68), ros-melodic-cmake-modules
Homepage: http://wiki.ros.org/rospack
Standards-Version: 3.9.2

Package: ros-melodic-rospack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libtinyxml2-dev, pkg-config, python-catkin-pkg-modules, python-dev, python-rosdep-modules, ros-melodic-ros-environment
Description: ROS Package Tool
